{% extends "base.html" %}
{% load static %}

{% block content %}
<!-- Hero image section -->
<section id="hero-outer">
    <div id="hero-image"></div>
    <div id="world-ngo-logo"></div>
    <div id="events-cover-text">
        <h2>Participate in an Event </h2>
        <h3>Raise funds for NGOs</h3>
    </div>
</section>

<!-- three pillars section -->
<section class="event-container">
    <h2> <img src="{{MEDIA_URL}}/images/events-icon.png" alt="events icon">
        Events Running</h2>
</section>


<div>
    <ul>
        {% for location in locations %}
        <li>
            <a href="#{{ location.name }}-id">{{ location.name }}</a>
        </li>
        {% endfor %}
    </ul>

</div>
<section class="events-container">
    <div class="col-12">
        <div class="row">
            {% for location in locations %}
            <h2 class="mt-4" id="{{ location.name }}-id">{{ location.name }}</h2>
            {% for event in events %}
            {% if location == event.location %}
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title text-black">{{ event.name }}</h3>
                    <p class="card-text text-muted m-0 small">{{ event.org }}</p>
                    <p class="card-text text-muted m-0 small">{{ event.location }}</p>
                    <p class="card-text text-muted m-0 small">Date and time: {{ event.date }} {{ event.time }}</p>
                    <p class="card-text">{{ event.summary }}</p>
                    <a href="{{ event.website }}" class="text-black">BOOK</a>
                </div>
            </div>
            {% endif %}
            {% endfor %}
            {% endfor %}
        </div>
    </div>
</section>
{% endblock %}