@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Labrada&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Helvetica St', sans-serif;
    font-weight: 300;
    color: #585b5d;
    position: relative;
    min-height: 100vh;
}

a {
    text-decoration: none;
}

/*--- Heading and logo (All pages)----------------------*/

h1,
h2 {
    font-family: 'Helvetica Std Bold Condensed', sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: rgb(255, 126, 32);
}

#logo img {
    float: left;
    height: 250px;
    width: 250px;
    border-radius: 50%;
    left: 100px;
    margin-top: 75px;

    position: sticky;
    z-index: 100;
}

#menu {
    font-size: 150%;
    letter-spacing: 4px;
    margin-right: 75px;
    position: sticky;
    z-index: 100;
}

#menu li {
    float: right;
    list-style: none;
    margin-top: 85px;
    background-color: rgba(255, 126, 32, 0.85);
    padding: 20px;
    text-transform: uppercase;
}

#menu a {
    text-decoration: none;
    color: #fff;
}

#menu a:hover {
    border-bottom: 1px solid #585b5d;
}


/* ---Hero image (All Pages)-------------------------*/

#hero-outer {
    height: 900px;
    width: 100%;
    position: relative;
}

#cover-text,
#cover-text h2 {
    color: #fff;
}

#events-cover-text,
#events-cover-text h2 {
    color: #fff;
}

#cover-text {
    font-size: 200%;
    font-family: 'Helvetica Lt Std Condensed', 'Helvetica Std Bold Condensed', sans-serif;
    letter-spacing: 4px;
    text-transform: none;
    width: 400px;
    height: 125px;
    padding: 20px;
    position: absolute;
    bottom: 150px;
    left: 150px;
    background-color: rgba(255, 126, 32, 0.85);
    text-align: center;
}

#events-cover-text {
    font-size: 200%;
    font-family: 'Helvetica Lt Std Condensed', 'Helvetica Std Bold Condensed', sans-serif;
    letter-spacing: 4px;
    text-transform: none;
    width: 400px;
    height: 160px;
    padding: 20px;
    position: absolute;
    bottom: 150px;
    left: 150px;
    background-color: rgba(255, 126, 32, 0.85);
    text-align: center;
}

#hero-image {
    height: 100%;
    width: 100%;
    background: url('../../media/images/hero-image.jpg') no-repeat center center;
    background-size: cover;
}

#world-ngo-logo {
    background: url('../../media/images/world-ngo-corner-logo2.png') no-repeat bottom right;
    height: 100%;
    width: 100%;
    position: absolute;
    bottom: 0px;
    right: 0px;
}

#hero-donate {
    /* position: absolute;
    bottom: 50px;
    left: 500px; */
    position: relative;
}

.donate-btn {
    background-color: #ff7e20;
    color: white;
    text-decoration: none;
    font-size: 30px;
    border-radius: 5px;
    padding: 15px 60px;

}

#hero-donate a:hover {
    background-color: white;
    color: #ff7e20;
    border: 2px solid #ff7e20;
}

/*---- Home Page Three Pillars section ------------------*/
#three-pillars-section{
    height: 650px;
}

#welcome{
    text-align: center;
}

#welcome{
    font-weight: 600;
    font-size: 300%;
}

#welcome > img{
    display: block;
    text-align: center;
    margin: 5px auto;
    width: 8%;
}

#left-pillar{
    padding-top: 30px;
    width: 33%;
    float: left;
}

#right-pillar{
    padding-top: 30px;
    width: 33%;
    float: right;
}

#center-pillar{
    padding-top: 30px;
    width: 33%;
    margin: 0 auto;
    display: inline-block;
}

#three-pillars-section p {
    text-align: center;
    font-size: 1.6em;
    width: 82%;
    margin: 0 auto;
    padding-top: 20px;
}

#left-pillar h2, #right-pillar h2, #center-pillar h2{
    text-align: center;
    font-weight: 600;
    text-transform: none;
    font-size: 2.5rem;
}

hr {
    border-top: 2px solid #ff7e20;
    width: 80%;
    margin: 0 auto;
}

/* --- Home Page Image carousel ------------------------ */
.image-carousel {
    background-color: #ff7e20;
    height: 600px;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.slider {
    width: 100%;
    max-width: 800px;
    height: 350px;
    position: relative;
    overflow: hidden;
    border-radius: 15px;
}

.slide {
    background-color: white;
    width: 100%;
    max-width: 900px;
    height: 400px;
    position: absolute;
    transition: all 0.5s;
}

.slide img {
    width: 90%;
    height: auto;
    display: block;
    margin: 0 auto;
}

.buttons {
    padding-top: 2%;
    margin: 0 auto;
}

.btn {
    padding: 20px 30px;
    border: none;
    border-radius: 5%;
    cursor: pointer;
    background-color: #fff;
    font-size: 18px;
}

.btn:active {
    transform: scale(1.1);
}

/* --- Home Page Make a Difference section ------------------------ */
.make-difference {
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.make-difference img {
    height: 2.5em;
    width: 2.5em;
    margin-right: 50px;
}

.make-difference h2 {
    font-size: 350%;
    font-weight: 700;
    margin-bottom: 75px;
    text-align: center;

}

#get-involved {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    padding: 10%;
    height: 400px;
}

#get-involved-donate {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    padding: 10%;
}

#get-involved-donate li {
    font-size: 2em;
}

.btn-container {
    display: flex;
    justify-content: center;
    margin-bottom: 150px;
}

.donate-btn {
    background-color: #ff7e20;
    color: white;
    text-decoration: none;
    font-size: 30px;
    border-radius: 5px;
    padding: 15px 60px;
}

#donate a:hover {
    background-color: white;
    color: #ff7e20;
    border: 2px solid #ff7e20;
}

/* --- Footer All Pages ------------------------ */
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
}

.social-footer {
    text-align: center;
    background-color: #ff7e20;

}

.social-footer>li {
    display: inline;
}

.social-footer i {
    font-size: 100%;
    padding-bottom: 1%;
    padding-top: 1%;
    padding-left: 5%;
    color: white;
}

.social-footer>p {
    display: inline-block;
}

.social-footer>span {
    position: relative;
    right: 0;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(100px, auto);
}


/* --- Donate Page ------------------------ */
.donate-make-difference {
    height: 900px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 2rem;
}

#get-involved-donate {
    margin-top: 2rem;
}

#get-involved-donate ul {
    font-size: 90%;
    margin-top: 2rem;
}




/* --- Event Page ------------------------ */

#event-donte-btn {
    margin-top: -50px;
}

.event-container {
    display: flex;
    justify-content: center;
    height: 300px;
    width: auto;
    margin: 75px 0 0 0;
}

.events-container {
    text-align: center;

}