@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Labrada&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    min-height: 100vh !important;
}

body {
    font-family: 'Helvetica St', sans-serif;
    font-weight: 300;
    color: #585b5d;
    min-height: 100vh;
    margin: 0;
    padding: 0%;
}

a {
    text-decoration: none;
}

/*--- Heading and logo (All pages)----------------------*/

h1,
h2 {
    font-family: 'Helvetica Std Bold Condensed', sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: rgb(255, 126, 32);
}

#logo img {
    float: left;
    height: 250px;
    width: 250px;
    border-radius: 50%;
    left: 100px;
    margin-top: 75px;
    position: sticky;
    z-index: 100;
}

#menu {
    font-size: 150%;
    letter-spacing: 4px;
    margin-right: 75px;
    position: sticky;
    z-index: 100;
}

#menu li {
    float: right;
    list-style: none;
    margin-top: 85px;
    background-color: rgba(255, 126, 32, 0.85);
    padding: 20px;
    text-transform: uppercase;
}

#menu a {
    text-decoration: none;
    color: #fff;
}

#menu a:hover {
    border-bottom: 1px solid #585b5d;
}

.active {
    text-decoration: underline;
    color: #fff;
}

/* ---Hero image (All Pages)-------------------------*/
#hero-outer {
    height: 900px;
    width: 100%;
    position: relative;
}

#cover-text,
#cover-text h2 {
    color: #fff;
}

#events-cover-text,
#events-cover-text h2 {
    color: #fff;
}

#donate-cover-text,
#donate-cover-text h2 {
    color: #fff;
}

#cover-text {
    font-size: 200%;
    font-family: 'Helvetica Lt Std Condensed', 'Helvetica Std Bold Condensed', sans-serif;
    letter-spacing: 4px;
    text-transform: none;
    width: 400px;
    height: 125px;
    padding: 20px;
    position: absolute;
    bottom: 150px;
    left: 150px;
    background-color: rgba(255, 126, 32, 0.85);
    text-align: center;
}

#events-cover-text {
    font-size: 200%;
    font-family: 'Helvetica Lt Std Condensed', 'Helvetica Std Bold Condensed', sans-serif;
    letter-spacing: 4px;
    text-transform: none;
    width: 400px;
    height: 160px;
    padding: 20px;
    position: absolute;
    bottom: 150px;
    left: 150px;
    background-color: rgba(255, 126, 32, 0.85);
    text-align: center;
}

#donate-cover-text {
    font-size: 200%;
    font-family: 'Helvetica Lt Std Condensed', 'Helvetica Std Bold Condensed', sans-serif;
    letter-spacing: 4px;
    text-transform: none;
    width: 400px;
    height: 220px;
    padding: 20px;
    position: absolute;
    bottom: 150px;
    left: 150px;
    background-color: rgba(255, 126, 32, 0.85);
    text-align: center;
}

#hero-image {
    height: 100%;
    width: 100%;
    background: url('../../media/images/hero-image.jpg') no-repeat center center;
    background-size: cover;
}

#donate-hero-image {
    height: 100%;
    width: 100%;
    background: url('../../media/images/donate-hero.jpg') no-repeat center center;
    background-size: cover;
}

#event-hero-image {
    height: 100%;
    width: 100%;
    background: url('../../media/images/event-hero.jpg') no-repeat center center;
    background-size: cover;
}


#world-ngo-logo {
    background: url('../../media/images/world-ngo-corner-logo2.png') no-repeat bottom right;
    background-size: contain;
    height: 50%;
    width: 50%;
    position: absolute;
    bottom: 0px;
    right: 0px;
}

/*---- Home Page Hero Donate Button ------------------*/
#hero-donate {
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%)
}

.donate-btn {
    background-color: #ff7e20;
    color: white;
    text-decoration: none;
    font-size: 30px;
    border-radius: 5px;
    padding: 15px 60px;
}

#hero-donate a:hover {
    background-color: white;
    color: #ff7e20;
    border: 2px solid #ff7e20;
}

/*---- Home Page Three Pillars section ------------------*/
#three-pillars-section {
    height: 650px;
}

#welcome {
    font-weight: 600;
    font-size: 300%;
    text-align: center;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

#welcome img {
    display: block;
    text-align: center;
    margin: 5px auto;
    width: auto;
}

#left-pillar {
    padding-top: 30px;
    width: 33%;
    float: left;
}

#right-pillar {
    padding-top: 30px;
    width: 33%;
    float: right;
}

#center-pillar {
    padding-top: 30px;
    width: 33%;
    margin: 0 auto;
    display: inline-block;
}

#three-pillars-section p {
    text-align: center;
    font-size: 1.6em;
    width: 82%;
    margin: 0 auto;
    padding-top: 20px;
}

#left-pillar h2,
#right-pillar h2,
#center-pillar h2 {
    text-align: center;
    font-weight: 600;
    text-transform: none;
    font-size: 2.5rem;
}

hr {
    border-top: 2px solid #ff7e20;
    width: 80%;
    margin: 0 auto;
}

/* --- Home Page Image carousel ------------------------ */
.image-carousel {
    background-color: #ff7e20;
    height: 600px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 1rem;
}

.slider {
    width: 100%;
    max-width: 800px;
    height: 350px;
    position: relative;
    overflow: hidden;
    border-radius: 15px;
}

.slide {
    background-color: white;
    width: 100%;
    max-width: 900px;
    height: 400px;
    position: absolute;
    transition: all 0.5s;
}

.slide img {
    width: 90%;
    height: auto;
    display: block;
    margin: 0 auto;
}

.buttons {
    padding-top: 2%;
    margin: 0 auto;
}

.btn {
    padding: 20px 30px;
    border: none;
    border-radius: 5%;
    cursor: pointer;
    background-color: #fff;
    font-size: 18px;
}

.btn:active {
    transform: scale(1.1);
}

/* --- Home Page Make a Difference section ------------------------ */
.make-difference {
    height: 600px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.make-difference img {
    height: 2.5em;
    width: 2.5em;
    margin-right: 50px;
}

.make-difference h2 {
    font-size: 350%;
    font-weight: 700;
    margin-bottom: 75px;
    text-align: center;
}

#get-involved {
    display: flex;
    max-width: 100%;
    flex-direction: column;
    align-items: center;
    height: 300px;
}


.btn-container {
    display: flex;
    justify-content: center;
    margin-bottom: 75px;
}

#donate a:hover {
    background-color: white;
    color: #ff7e20;
    border: 2px solid #ff7e20;
}

/* --- Footer All Pages ------------------------ */
.footer {
    bottom: 0;
    width: 100%;
    height: 2.5rem;
    margin-top: 2rem;
}

.social-footer {
    text-align: center;
    background-color: #ff7e20;
    position: relative;

}

.social-footer>li {
    display: inline;
}

.social-footer i {
    font-size: 150%;
    padding-bottom: 1%;
    padding-top: 1%;
    padding-left: 10%;
    color: white;
}

.social-footer span {
    font-weight: 600;
    color: white;
}


.wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(100px, auto);
}


/* --- Donate Page ------------------------ */

.donate-make-difference {
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: -5rem;
    margin-bottom: 3rem;
}

.donatePage-donate-btn {
    background-color: #ff7e20;
    color: white;
    text-decoration: none;
    font-size: 30px;
    border-radius: 5px;
    padding: 15px 60px;
}

#donatePage-donate-btn a:hover {
    background-color: white;
    color: #ff7e20;
    border: 2px solid #ff7e20;
}

#get-involved-donate ul {
    margin-top: 2rem;
}

#get-involved-donate {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    padding: 5%;
}

#get-involved-donate img {
    display: block;
    text-align: center;
    max-width: 130px;
    margin: 5px auto;
    width: auto;
    padding-bottom: 30px
}


#make-diff-msg {
    text-align: center;
    font-weight: 600;
    font-size: 300%;
}

#get-involved-donate li {
    list-style: none;
    font-size: 1.6em;
}

.fa-heart {
    color: #ff7e20;
    padding-right: 1rem;
}

.card-text {
    font-size: 150%;
    padding: 1rem 0 1rem 0;
}

.card h3 {
    text-decoration: none;
}

.direct-donate {
    background-color: #ff7e20;
    color: white;
    text-decoration: none;
    font-size: 150%;
    padding: 15px 30px;
    border-radius: 5px;
}

.card-body a:hover{
    background-color: white;
    color: #ff7e20;
    border: 2px solid #ff7e20;
}

.card-body {
    padding-bottom: 20px;
}

.donate-container {
    text-align: center;
    height: 100%;
    width: 90%;
    margin-bottom: 3rem;
    margin: 0 auto;
}

.card-image {
    max-width: 100%;
}

/* --- Event Page ------------------------ */

.event-welcome-container {
    display: flex;
    justify-content: center;
    height: 300px;
    width: auto;
    margin: 75px 0 0 0;
}

.events-container {
    text-align: center;
    height: 100%;
    width: 90%;
    margin-bottom: 3rem;
    margin: 0 auto;
}

.event-welcome-container img {
display: block;
text-align: center;
max-width: 130px;
margin: 5px auto;
width: auto;
padding-bottom: 30px
}

.event-heading {
    text-align: center;
    font-weight: 600;
    font-size: 300%;
}

.row h2 {
    color: #585b5d;
    font-size: 300%;
    padding: 1rem;
}

.row h3 {
    font-size: 200%;
    padding: 2rem;
}

.event-container h2 {
    font-size: 350%;
    font-weight: 700;
    text-align: center;
}

.card {
    margin-bottom: 1rem;
}

/* --- Media queries ------------------------ */

/* --- for large to medium screen 1500px and below ------------------------ */
@media screen and (max-width: 1500px) {
    #world-ngo-logo {
        height: 40%;
        width: 40%;
    }
}

/* --- for large to medium screen 1200px and below ------------------------ */
@media screen and (max-width: 1200px) {

    /* --- Header for All pages ------------------------ */
    #logo img {
        max-width: 150px;
        max-height: 150px;
    }

    #menu li {
        padding: 10px 15px 10px 15px;
    }

    #menu a {
        font-size: 19px;
    }

    /* --- Home Page ------------------------ */
    /* three pilars section */
    #three-pillars-section {
        width: 90%;
        height: 1000px;
        margin: 0 auto;
    }

    #welcome {
        padding: 30px 0;
        margin: 30px;
        font-size: 250%;
    }

    #welcome img {
        display: block;
        text-align: center;
        max-width: 95px;
        height: auto;
        padding-bottom: 20px;
    }

    #left-pillar,
    #center-pillar,
    #right-pillar {
        width: 100%;
        padding: 0;
        margin-bottom: 60px;
    }

    #right-pillar {
        margin-bottom: 20px;
    }

    /* Get involved section */

    .make-difference {
        width: 95%;
        height: 450px;
        margin: 0 auto;
    }

    #get-involved {
        padding: 69px 0;
        margin: 55px;
        margin-bottom: 0;
    }

    #get-involved h2 {
        font-size: 45px;
    }

    #involved-msg {
        margin-top: -100px;
    }

    #involved-msg img {
        display: block;
        max-width: 100px;
        height: auto;
        margin: 0 auto;
        padding-bottom: 20px;
    }

    /* --- Donate Page ------------------------ */
    #make-diff-msg {
        padding: 30px 0;
        margin: 30px;
        font-size: 250%;
        font-weight: 600;
    }

    #make-diff-msg img {
        display: block;
        text-align: center;
        max-width: 95px;
        height: auto;
        padding-bottom: 20px;
    }

    #donate-cover-text{
        width: 41%;
        height: 16%;
    }




    /* --- Events Page ------------------------ */
    .event-heading {
        padding: 30px 0;
        margin: 30px;
        font-size: 250%;
        font-weight: 600;
    }

    .event-welcome-container img {
        display: block;
        text-align: center;
        max-width: 95px;
        height: auto;
        padding-bottom: 20px;
    }

    .event-welcome-container {
        margin: 0;
    }
}

/* --- for medium screens 1000px and below ------------------------ */
@media screen and (max-width: 1000px) {

    .image-for-mobile {
        background: url('../../media/images/charity-pic-1.png') no-repeat;
        background-size: contain;
        height: 90%;
        width: 90%;
        align-items: center;
    }

    .slider {
        display: none;
    }

    .buttons {
        display: none;
    }

    #involved-msg {
        font-size: 80%;
    }

    /* --- Donate Page ------------------------ */
    #donate-cover-text{
        width: 36%;
        height: 14%;
    }

    #donate-cover-text h2{
        font-size: 70%;
    }

    #donate-cover-text h3{
        font-size: 50%
    }

    /* --- Events Page ------------------------ */
    .event-container h2 {
        font-size: 200%;
    }
}

/* --- for smaller screens 790px and below ------------------------ */
@media screen and (max-width: 790px) {
    #menu {
        font-size: 125%;
    }

    #menu li {
        display: flex;
        flex-direction: column;
    }

    .image-carousel {
        height: 500px;
    }

    #cover-text {
        font: 150%;
        width: 300px;
        height: 130px;
        bottom: 150px;
        left: 50%;
        transform: translateX(-50%)
    }

    #get-involved h2 {
        font-size: 35px;
    }

    #events-cover-text {
        font: 150%;
        width: 300px;
        height: 175px;
        bottom: 150px;
        left: 50%;
        transform: translateX(-50%)
    }

    #donate-cover-text {
        font: 150%;
        width: 300px;
        height: 150px;
        left: 50%;
        transform: translateX(-50%)
    }

    .donate-btn {
        font-size: 20px;
        border-radius: 5px;
        padding: 15px 30px;
    }

    /* --- Donate Page ------------------------ */


    /* --- Events Page ------------------------ */
    .event-container h2 {
        font-size: 150%;
    }
}

/* --- for smaller screens 650px and below ------------------------ */
@media screen and (max-width: 650px) {
    #three-pillars-section {
        height: 1300px;
    }

    .image-carousel {
        display: none
    }
}

/* --- Donate Page ------------------------ */


/* --- for smaller screens 575px and below ------------------------ */
@media screen and (max-width: 575px) {
    #logo img {

        left: 50%;
        transform: translateX(-50%)
    }

    #three-pillars-section {
        height: 1350px;
    }

    .image-carousel {
        display: none
    }
}

@media screen and (max-width: 450px) {
    #cover-text {
        font: 120%;
        width: 250px;
        height: 130px;
    }
}