{% extends "base.html" %}
{% load static %}

{% block content %}
<!-- Hero image section -->
<section id="hero-outer">
  <div id="hero-image"></div>
  <div id="world-ngo-logo"></div>
  <div id="cover-text">
    <h2>World NGO day </h2>
    <h3>27th Feb 2023</h3>
  </div>
  <div id="hero-donate"><a href="{% url 'donate' %}" class="donate-btn">DONATE</a></div>
</section>

<!-- three pillars section -->
<section id="three-pillars-section">
  <h2> <img src="{{MEDIA_URL}}/images/pillars.png" alt="3 pillars icon">
    Three Pillars of World NGO Day</h2>
  <div class="three-pillars-content-container">
    <div class="three-pillars-headings">Celebrate
      <ul class="three-pillars-ul">
        <li>Raise awareness about NGOs impact on society</li>
        <li>Generate visibility for non-profit projects</li>
      </ul>
    </div>
    <div class="three-pillars-headings">Commemorate
      <ul class="three-pillars-ul commemorate">
        <li>Present NGOs achievements and efforts</li>
        <li>Form new partnerships and find new supporters</li>
      </ul>
    </div>
    <div class="three-pillars-headings">Collaborate
      <ul class="three-pillars-ul">
        <li>Share knowledge, expertise, and experiences with other organisations</li>
        <li>Inspire people to build a career within the non-profit sector</li>
      </ul>
    </div>
  </div>
</section>

<!-- image carousel section -->
<section class="image-carousel">

  <div class="slider">

    <!-- slide 1 -->
    <div class="slide">
      <img src="{{MEDIA_URL}}/images/brac-logo.png" alt="Logo for BRAC NGO" />
    </div>
    <!-- slide 2 -->
    <div class="slide">
      <img src="./ngo/media/images/brac-one.jpg" alt="BRAC volunteer teaching a lady correct hand washing technique" />
    </div>

    <!-- slide 3 -->
    <div class="slide">
      <img src="{{MEDIA_URL}}/images/brac-two.jpg" alt="People handing out food to those who need it" />
    </div>

    <!-- slide 4 -->
    <div class="slide">
      <img src="{{MEDIA_URL}}/images/doctors-without-borders-logo.jpg" alt="Logo for Doctors Without Borders" />
    </div>

    <!-- slide 5 -->
    <div class="slide">
      <img src="{{MEDIA_URL}}/images/dwb-one.jpeg" alt="Doctor from Doctors Without Borders helping people" />
    </div>

    <!-- slide 6 -->
    <div class="slide">
      <img src=".{{MEDIA_URL}}/images/dwb-two.jpg" alt="Doctor from Doctors Without Borders helping a woman" />
    </div>
    <!-- slide 7 -->
    <div class="slide">
      <img src="{{MEDIA_URL}}/images/oxfam-logo.png" alt="Logo for Oxfam" />
    </div>

    <!-- slide 8 -->
    <div class="slide">
      <img src="{{MEDIA_URL}}/images/oxfam-image-one.jpg" alt="People from Oxfam delivering food" />
    </div>

    <!-- slide 9 -->
    <div class="slide">
      <img src="{{MEDIA_URL}}/images/oxfam-image-two.jpg" alt="" />
    </div>
  </div>

  <!-- Control buttons -->
  <div class="buttons">
    <button class="btn btn-prev">Prev</button>
    <button class="btn btn-next">Next</button>

  </div>
</section>

<!-- make a difference section -->
<section class="make-difference">
  <div id="get-involved">
    <h2> <img src="{{MEDIA_URL}}/images/donation-icon.png" alt="hand holding a heart icon">Get Invovled. Make a
      Difference.</h2>
  </div>
  <div id="donate"><a href="{% url 'donate' %}" class="donate-btn"><i class="fa-solid fa-parachute-box"></i>  DONATE</a>
  </div>

</section>
{% endblock %}